In [155]:
import pandas as pd
import numpy as np
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.metrics import *
import pickle

In [156]:
os.getcwd()
os.chdir("C:\\Users\\bernhardrossegger\\Documents\\MacLea\\MacLea\\Data\\Clean")

In [157]:
df = pd.read_csv('bank_clean.csv', sep = ",")
df.head()

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0,56,housemaid,married,basic.4y,no,no,no,telephone,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,1,57,services,married,high.school,no,no,no,telephone,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,2,37,services,married,high.school,no,yes,no,telephone,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,3,40,admin.,married,basic.6y,no,no,no,telephone,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,4,56,services,married,high.school,no,no,yes,telephone,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [158]:
del df['Unnamed: 0']

Encoding categorical data

In [159]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [160]:
df.poutcome.value_counts()

nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64

In [161]:
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'poutcome']

In [162]:
for col in categorical_columns:
    df[col] = df[col].astype('category')

In [163]:
df = pd.get_dummies(df, drop_first = True)

In [164]:
df

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_blue-collar,...,education_illiterate,education_professional.course,education_university.degree,default_yes,housing_yes,loan_yes,contact_telephone,poutcome_nonexistent,poutcome_success,y_yes
0,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,0,0,0,1,1,0,0
1,57,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,0,0,0,1,1,0,0
2,37,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,0,1,0,1,1,0,0
3,40,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,0,0,0,1,1,0,0
4,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,0,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,1,0,0,1,0,0,1,0,1
41184,46,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,1,...,0,1,0,0,0,0,0,1,0,0
41185,56,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,0,1,0,1,0,0,1,0,0
41186,44,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,1,0,0,0,0,0,1,0,1
41187,74,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,1,0,0,1,0,0,0,0,0

Splitting input and output

In [165]:
X = df[df.columns[:-1]]
y = df[df.columns[-1:]]

In [166]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=77)

In [167]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [168]:
pickle.dump(model, open('C:\\Users\\bernhardrossegger\\Documents\\MacLea\\MacLea\\Models\\DecisionTreeClassifier.model', 'wb'))

In [169]:
y_pred = model.predict(X_test)

In [170]:
print(accuracy_score(y_test, y_pred), precision_score(y_test, y_pred), recall_score(y_test, y_pred), f1_score(y_test, y_pred))

0.840616654527798 0.294234592445328 0.3292547274749722 0.31076115485564304

In [171]:
model = DecisionTreeClassifier()
scores = cross_validate(model, X, y, cv=7, scoring =('accuracy', 'average_precision', 'recall', 'f1'))

In [172]:
scores

{'fit_time': array([0.24384975, 0.21286941, 0.21586871, 0.20687461, 0.21587014,
        0.22786093, 0.22386622]),
 'score_time': array([0.01998734, 0.01499343, 0.01499057, 0.014992  , 0.01998949,
        0.01398945, 0.01499081]),
 'test_accuracy': array([0.88834126, 0.4685588 , 0.41349422, 0.46923861, 0.30132563,
        0.06458192, 0.13273283]),
 'test_average_precision': array([0.11921161, 0.11184393, 0.11217345, 0.10981509, 0.11086157,
        0.11200362, 0.11500434]),
 'test_recall': array([0.00755287, 0.00754148, 0.00452489, 0.02714932, 0.01659125,
        0.00603318, 1.        ]),
 'test_f1': array([0.0149925 , 0.00318776, 0.00173561, 0.01139601, 0.00532301,
        0.00145138, 0.20625292])}